@import url("https://fonts.google.com/specimen/Truculenta");

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 2rem;
    color: black;
}

h1,
h2,
h3,
th,
legend {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    margin: 1.8em 0;
}

header,
nav,
main,
aside,
footer {
    padding: 1em;
    border: 1px black dotted;
}

header,
footer {
    text-align: center;
}

.container {
    margin: 0 auto;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "nav     nav     nav"
        "main-header     main-header     main-header"
        "left-col    main     main"
        "left-col    main     main"
		"bot-row bot-row bot-row"
        "footer     footer     footer";
}

header {
    grid-area: main-header;
	background-color: #FFDEDC;
}

nav{
    grid-area: nav;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
	background-color: black;
	color:#87ae73;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px 50px;
	align-items: center;
	height: 100%;
}
.logo{
	color: #87ae73;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: #87ae73;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}


nav a{
    display: inline-block;
    padding: 10px  25px;
    font-weight: bold;
}

.typing-animation {
	overflow: hidden;
	border-right: 0.15em solid #333;
	white-space: nowrap;
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
	animation: typing 3s steps(30) infinite;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

.typing-animation {
	animation: typing 3s steps(30) infinite;
}

main {
    grid-area: main;
    max-height: 100%;
	background-color: #FFDEDC;

}
#left-col {
    grid-area: left-col;
	background-color: #FFDEDC;
}

#bot-row{
	grid-area: bot-row;
	background-color: #FFDEDC;
}

footer{
    grid-area: footer;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
    background: purple;
	justify-content: center;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 15px;

}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}


@media screen and (min-width: 641px) and (max-width: 991px) {
    nav span {
        display: none;
        visibility: hidden;
    }
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "nav nav"
            "main-header main-header"
            "left-col main"
			"bot-row bot-row"
            "footer footer";
    }
}

@media screen and (max-width: 500px) {
	.container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "main-header"
            "main"
			"left-col"
			"bot-row"
			"footer";

    }
	nav span {
        display: none;
        visibility: hidden;
    }
    nav ul {
        display: inline-block !important;
        flex-flow: column nowrap;
        text-align: center;
    }

    nav ul li a {
        padding: 10px 5px;
        margin: 5px;
        border: 1px black solid;
        background: black;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }


}
